.git
.github
.next
**/.next
node_modules
**/node_modules
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.coverage
coverage
storybook-static
**/storybook-static
*.db
*.sqlite
*.sqlite3
.env
**/.env
*.tsbuildinfo
